<html>
<h>My heading</h>
	<script type="text/javascript">
		function validation()
		{
			var num=/^[0-9]+$/;
			var alpha=/^[a-zA-Z]+$/;

			var name=document.getElementById("name")
			
			if(name.value.length==0)
			{
				alert("enter a name")
				return false;
			}
			else if(!name.value.match(alpha))
			{
				alert("enter a valid name")
				name.focus();
				return false;
			}
			
			else
			{
				return true;
			}
		}

	</script>
	<body>
		<form method="post" action="{% url 'addcategoryAction' %}">
			{% csrf_token %}
			<table>
				<tr>
				<td>NAME</td>
				<td><input type="text" name="name" id="name"><td>
				</tr>
			
				<tr>
				<td></td>
				<td><input type="submit" value="submit" onclick="return validation()"></td>
				</tr>

			</table>
		</form>
	</body>
</html