<html>
	<script type="text/javascript">
		function validation()
		{
			var num=/^[0-9]+$/;
			var alpha=/^[a-zA-Z]+$/;

			var name=document.getElementById("name")
			var dob=document.getElementById("dob")
			var country=document.getElementById("country")
			
			if(name.value.length==0)
			{
				alert("enter a name")
				return false;
			}
			else if(!name.value.match(alpha))
			{
				alert("enter a valid name")
				name.focus();
				return false;
			}
			
			else if(dob.value.length==0)
			{
				alert("enter a dob")
				return false;
			}
			
			else if(country.value.length==0)
			{
				alert("enter a country")
				return false;
			}
			
			else
			{
				return true;
			}
		}

	</script>

	<body>
		<form method="post" action="{% url 'createnewpasswordAction' %}" name="myform" id="myform">
			{% csrf_token %}
			<table>	
			<input type="hidden" name="username" value="{{data}}">					
				<tr>
				<td>NAME</td>
				<td><input type="text" name="name" id="name"></td>
				</tr>

				<tr>
				<td>DOB</td>
				<td><input type="date" name="dob" id="dob"></td>
				</tr>

				<tr>
				<td>COUNTRY</td>
				<td>
				<select name="country" id="country">
				<option value="">--select--</option>
				<option value="india">india</option>
				<option value="america">america</option>
				<option value="china">china</option>
				</select>
				</td>
				</tr>

				<tr>
				<td></td>
				<td><input type="submit" value="submit" onclick="return validation()"></td>
				</tr>
			</table>
		</form>
	</body>
{% if messages %}
	{% for msg in messages %}
	<script>
		alert('{{msg}}')
	</script>
	{% endfor %}
{% endif %}
</html>