<html>
	<script type="text/javascript">
		function validation()
		{
			var num=/^[0-9]+$/;
			var alpha=/^[a-zA-Z]+$/;

			var newpassword=document.getElementById("newpassword")
			var confirmpassword=document.getElementById("confirmpassword")
			

			if(newpassword.value.length==0)
			{
				alert("enter a password")
				return false;
			}
			else if(!newpassword.value.match(num))
			{
				alert("enter a valid password")
				newpassword.focus();
				return false;
			}
			else if(confirmpassword.value.length==0)
			{
				alert("enter a confirmpassword")
				return false;
			}
			else if(!confirmpassword.value.match(num))
			{
				alert("enter a valid password")
				confirmpassword.focus();
				return false;
			}
			else
			{
				return true;
			}
		}

	</script>
	<body>
		<form method="post" action="{% url 'enternewpasswordAction' %}">
			{% csrf_token %}
			<table>	
			<input type="hidden" name="username" value="{{data}}">				
				<tr>
				<td>enter new password</td>
				<td><input type="password" name="newpassword"></td>
				</tr>

				<tr>
				<td>confirm password</td>
				<td><input type="password" name="confirmpassword"></td>
				</tr>
				
				<tr>
				<td></td>
				<td><input type="submit"  value="submit" onclick="return validation()"></td>
				</tr>
			</table>
		</form>
	</body>
{% if messages %}
	{% for msg in messages %}
	<script>
		alert('{{msg}}')
	</script>
	{% endfor %}
{% endif %}
</html>